/* [next]/internal/font/google/poppins_1287db64.module.css [app-client] (css) */
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/41e95f694c5c4549-s.666bad7d.woff2") format("woff2");
  unicode-range: U+900-97F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/6c55a692938ebbbc-s.0a77efb4.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/a218039a3287bcfd-s.p.4a23d71b.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/b53057dbf91a7acf-s.c55744ae.woff2") format("woff2");
  unicode-range: U+900-97F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/798ea22d9983e047-s.b460e02c.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/47fe1b7cd6e6ed85-s.p.855a563b.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins Fallback;
  src: local(Arial);
  ascent-override: 93.62%;
  descent-override: 31.21%;
  line-gap-override: 8.92%;
  size-adjust: 112.16%;
}

.poppins_1287db64-module__xlnYIG__className {
  font-family: Poppins, Poppins Fallback;
  font-style: normal;
}

.poppins_1287db64-module__xlnYIG__variable {
  --font-poppins: "Poppins", "Poppins Fallback";
}

/* [project]/app/globals.css [app-client] (css) */
.\@container\/card-header:not(#\#) {
  container: card-header / inline-size;
}

.invisible:not(#\#) {
  visibility: hidden;
}

.visible:not(#\#) {
  visibility: visible;
}

.sr-only:not(#\#) {
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.absolute:not(#\#) {
  position: absolute;
}

.relative:not(#\#) {
  position: relative;
}

.static:not(#\#) {
  position: static;
}

.sticky:not(#\#) {
  position: sticky;
}

.z-10:not(#\#) {
  z-index: 10;
}

.z-50:not(#\#) {
  z-index: 50;
}

.col-start-2:not(#\#) {
  grid-column-start: 2;
}

.row-span-2:not(#\#) {
  grid-row: span 2 / span 2;
}

.row-start-1:not(#\#) {
  grid-row-start: 1;
}

.container:not(#\#) {
  width: 100%;
}

.mx-auto:not(#\#) {
  margin-left: auto;
  margin-right: auto;
}

.block:not(#\#) {
  display: block;
}

.contents:not(#\#) {
  display: contents;
}

.flex:not(#\#) {
  display: flex;
}

.grid:not(#\#) {
  display: grid;
}

.hidden:not(#\#) {
  display: none;
}

.inline:not(#\#) {
  display: inline;
}

.inline-flex:not(#\#) {
  display: inline-flex;
}

.table:not(#\#) {
  display: table;
}

.h-full:not(#\#) {
  height: 100%;
}

.h-screen:not(#\#) {
  height: 100vh;
}

.max-h-\[calc\(100vh-12rem\)\]:not(#\#) {
  max-height: calc(100vh - 12rem);
}

.min-h-\[500px\]:not(#\#) {
  min-height: 500px;
}

.min-h-screen:not(#\#) {
  min-height: 100vh;
}

.w-full:not(#\#) {
  width: 100%;
}

.flex-1:not(#\#) {
  flex: 1;
}

.shrink-0:not(#\#) {
  flex-shrink: 0;
}

.-translate-x-1\/2:not(#\#) {
  --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
  translate: calc((1 / 2 * 100%) * -1) var(--tw-translate-y);
  translate: calc(calc(1 / 2 * 100%) * -1) var(--tw-translate-y);
  translate: var(--tw-translate-x) var(--tw-translate-y);
}

.-translate-y-full:not(#\#) {
  --tw-translate-y: -100%;
  translate: var(--tw-translate-x) -100%;
  translate: var(--tw-translate-x) var(--tw-translate-y);
}

.transform:not(#\#) {
  transform: ;
  transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, );
}

.cursor-pointer:not(#\#) {
  cursor: pointer;
}

.auto-rows-min:not(#\#) {
  grid-auto-rows: min-content;
}

.grid-cols-1:not(#\#) {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-rows-\[auto_auto\]:not(#\#) {
  grid-template-rows: auto auto;
}

.flex-col:not(#\#) {
  flex-direction: column;
}

.flex-row:not(#\#) {
  flex-direction: row;
}

.items-center:not(#\#) {
  align-items: center;
}

.items-start:not(#\#) {
  align-items: flex-start;
}

.justify-between:not(#\#) {
  justify-content: space-between;
}

.justify-center:not(#\#) {
  justify-content: center;
}

.justify-end:not(#\#) {
  justify-content: flex-end;
}

:where(.divide-y:not(#\#) > :not(:last-child)):not(#\#) {
  --tw-divide-y-reverse: 0;
  border-bottom-style: var(--tw-border-style);
  border-top-style: var(--tw-border-style);
  border-top-width: 0;
  border-top-width: calc(1px * var(--tw-divide-y-reverse));
  border-bottom-width: 1px;
  border-bottom-width: calc(1px * (1 - var(--tw-divide-y-reverse)));
  border-bottom-width: 1px;
  border-bottom-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
}

.self-start:not(#\#) {
  align-self: flex-start;
}

.justify-self-end:not(#\#) {
  justify-self: flex-end;
}

.truncate:not(#\#) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overflow-hidden:not(#\#) {
  overflow: hidden;
}

.overflow-y-auto:not(#\#) {
  overflow-y: auto;
}

.rounded-full:not(#\#) {
  border-radius: 3.40282e38px;
}

.border:not(#\#) {
  border-style: var(--tw-border-style);
  border-width: 1px;
}

.border-2:not(#\#) {
  border-style: var(--tw-border-style);
  border-width: 2px;
}

.border-b:not(#\#) {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
}

.border-b-2:not(#\#) {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 2px;
}

.border-dashed:not(#\#) {
  --tw-border-style: dashed;
  border-style: dashed;
}

.bg-gradient-to-br:not(#\#) {
  --tw-gradient-position: to bottom right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-gradient-to-r:not(#\#) {
  --tw-gradient-position: to right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-gradient-to-tr:not(#\#) {
  --tw-gradient-position: to top right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-clip-text:not(#\#) {
  -webkit-background-clip: text;
  background-clip: text;
}

.text-center:not(#\#) {
  text-align: center;
}

.leading-none:not(#\#) {
  --tw-leading: 1;
  line-height: 1;
}

.whitespace-nowrap:not(#\#) {
  white-space: nowrap;
}

.whitespace-pre-wrap:not(#\#) {
  white-space: pre-wrap;
}

.text-inherit:not(#\#) {
  color: inherit;
}

.text-transparent:not(#\#) {
  color: #0000;
}

.italic:not(#\#) {
  font-style: italic;
}

.line-through:not(#\#) {
  text-decoration-line: line-through;
}

.overline:not(#\#) {
  text-decoration-line: overline;
}

.underline:not(#\#) {
  text-decoration-line: underline;
}

.underline-offset-4:not(#\#) {
  text-underline-offset: 4px;
}

.ring:not(#\#) {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.outline:not(#\#) {
  outline-style: var(--tw-outline-style);
  outline-width: 1px;
}

.filter:not(#\#) {
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.backdrop-filter:not(#\#) {
  -webkit-backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
  backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
}

.transition:not(#\#) {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
  transition-timing-function: ease;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: 0s;
  transition-duration: var(--tw-duration, 0s);
}

.transition-all:not(#\#) {
  transition-property: all;
  transition-timing-function: ease;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: 0s;
  transition-duration: var(--tw-duration, 0s);
}

.transition-colors:not(#\#) {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: ease;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: 0s;
  transition-duration: var(--tw-duration, 0s);
}

.duration-200:not(#\#) {
  --tw-duration: .2s;
  transition-duration: .2s;
}

.duration-300:not(#\#) {
  --tw-duration: .3s;
  transition-duration: .3s;
}

.duration-500:not(#\#) {
  --tw-duration: .5s;
  transition-duration: .5s;
}

.outline-none:not(#\#) {
  --tw-outline-style: none;
  outline-style: none;
}

.focus-within\:ring-2:not(#\#):focus-within:not(#\#) {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.focus-within\:ring-offset-2:not(#\#):focus-within:not(#\#) {
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
}

.focus-within\:outline-none:not(#\#):focus-within:not(#\#) {
  --tw-outline-style: none;
  outline-style: none;
}

@media (hover: hover) {
  .hover\:underline:not(#\#):hover:not(#\#) {
    text-decoration-line: underline;
  }
}

.focus\:ring-2:not(#\#):focus:not(#\#) {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.focus-visible\:ring-\[3px\]:not(#\#):focus-visible:not(#\#) {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.disabled\:pointer-events-none:not(#\#):disabled:not(#\#) {
  pointer-events: none;
}

.disabled\:opacity-50:not(#\#):disabled:not(#\#) {
  opacity: .5;
}

.has-data-\[slot\=card-action\]\:grid-cols-\[1fr_auto\]:not(#\#):has([data-slot="card-action"]):not(#\#) {
  grid-template-columns: 1fr auto;
}

.\[\&_svg\]\:pointer-events-none:not(#\#):not(#\#) svg {
  pointer-events: none;
}

.\[\&_svg\]\:shrink-0:not(#\#):not(#\#) svg {
  flex-shrink: 0;
}

:root:not(#\#) {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: .5rem;
}

.dark:not(#\#) {
  --background: 222.2 47.4% 11.2%;
  --foreground: 210 40% 98%;
  --card: 222.2 47.4% 11.2%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 47.4% 11.2%;
  --popover-foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false
}

@property --tw-divide-y-reverse {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-outline-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-blur {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-invert {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
  *, :before, :after, ::backdrop {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-translate-z: 0;
    --tw-rotate-x: initial;
    --tw-rotate-y: initial;
    --tw-rotate-z: initial;
    --tw-skew-x: initial;
    --tw-skew-y: initial;
    --tw-divide-y-reverse: 0;
    --tw-border-style: solid;
    --tw-leading: initial;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-color: initial;
    --tw-shadow-alpha: 100%;
    --tw-inset-shadow: 0 0 #0000;
    --tw-inset-shadow-color: initial;
    --tw-inset-shadow-alpha: 100%;
    --tw-ring-color: initial;
    --tw-ring-shadow: 0 0 #0000;
    --tw-inset-ring-color: initial;
    --tw-inset-ring-shadow: 0 0 #0000;
    --tw-ring-inset: initial;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-outline-style: solid;
    --tw-blur: initial;
    --tw-brightness: initial;
    --tw-contrast: initial;
    --tw-grayscale: initial;
    --tw-hue-rotate: initial;
    --tw-invert: initial;
    --tw-opacity: initial;
    --tw-saturate: initial;
    --tw-sepia: initial;
    --tw-drop-shadow: initial;
    --tw-drop-shadow-color: initial;
    --tw-drop-shadow-alpha: 100%;
    --tw-drop-shadow-size: initial;
    --tw-backdrop-blur: initial;
    --tw-backdrop-brightness: initial;
    --tw-backdrop-contrast: initial;
    --tw-backdrop-grayscale: initial;
    --tw-backdrop-hue-rotate: initial;
    --tw-backdrop-invert: initial;
    --tw-backdrop-opacity: initial;
    --tw-backdrop-saturate: initial;
    --tw-backdrop-sepia: initial;
    --tw-duration: initial;
  }
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__0da3622e._.css.map*/